# Chicago Weather Dataset

## Dreaming of a White Christmas?

In this notebook, I show you how I create a nice dataset including Chicago weather data at Christmas day. This dataset is available at Kaggle. I use web scraping to retrieve the data from the website. Then, I do some data cleaning, and the dataset is ready for data analysis.

In [1]:
#import packages and libraries
#import packages
import pandas as pd
import csv

import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

import requests # library to handle requests
import random # library for random number generation

from bs4 import BeautifulSoup #for webscraping

from html_table_extractor.extractor import Extractor

#other packages
#!pip install selenium
from selenium import webdriver

In [2]:
#connect with the website
url = 'https://www.weather.gov/lot/Chicago_Christmas_Data'
dfs = pd.read_html(url)

print(len(dfs))

2

In [3]:
#get the table
df = dfs[1]
df.columns = df.iloc[0]
df = df.iloc[1: , :]
df

0    Year High Temp Min Temp Precip Snow
1    1871         M        M   0.00    M
2    1872        20        4   0.00    M
3    1873        38       33   0.00    M
4    1874        43       23   0.00    M
5    1875        43       30   0.00    M
6    1876        28       21   0.03    M
7    1877        50       42   0.34    M
8    1878        15        3   0.00    M
9    1879        15        2   0.34    M
10   1880        34       28   0.01    M
11   1881        44       35   0.00    M
12   1882        40       33   0.22    M
13   1883        32       24   0.00    M
14   1884        18        8   0.11  1.4
15   1885        37       30   0.02    T
16   1886        35       18   0.17  1.9
17   1887        23       14      T    T
18   1888        39       35   0.02  0.0
19   1889        47       33   0.00  0.0
20   1890        28       20   0.00  0.0
21   1891        52       34      T  0.0
22   1892        10       -2   0.03  0.3
23   1893        52       30   0.03    T
24   1894        31       24   0.00  0.0
25   1895        56       33   0.00  0.0
26   1896        31       15   0.00  0.0
27   1897        32       18   0.00    M
28   1898        29       26   0.05    M
29   1899        15        6   0.00    M
30   1900        18       12      T    M
..    ...       ...      ...    ...  ...
120  1990        28       -1   0.00  0.0
121  1991        42       17   0.00  0.0
122  1992        25       10      T    T
123  1993        18        5   0.03  0.5
124  1994        52       24   0.00  0.0
125  1995        31       14   0.02  0.2
126  1996         9        1   0.03    T
127  1997        35       26      T  0.0
128  1998        33       17   0.00  0.0
129  1999        31        7   0.00  0.0
130  2000        17       -7   0.00  0.0
131  2001        22       12      T  0.2
132  2002        29       23   0.08  2.0
133  2003        36       17   0.00  0.0
134  2004        19       11   0.02  0.3
135  2005        36       33   0.03    T
136  2006        37       30      T    T
137  2007        42       21   0.00  0.0
138  2008        24        0   0.00  0.0
139  2009        43       21   0.46  0.4
140  2010        31       20   0.06  0.9
141  2011        45       29   0.00  0.0
142  2012        33       25   0.01  0.1
143  2013        27       18   0.07  1.2
144  2014        42       33   0.00  0.0
145  2015        44       32   0.00  0.0
146  2016        39       32   0.09  0.0
147  2017        21        2   0.01  0.1
148  2018        45       28   0.00  0.0
149  2019        57       37   0.00  0.0

[149 rows x 5 columns]

In [4]:
#Add columns
df['White Christmas'] = ""

C:\Users\Lydia\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [5]:
#Replace values in columns
df['Snow'] = df['Snow'].replace("M","")
df['Snow'] = df['Snow'].replace("T","")

C:\Users\Lydia\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Lydia\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
df.head(10)

0   Year High Temp Min Temp Precip Snow White Christmas
1   1871         M        M   0.00
2   1872        20        4   0.00
3   1873        38       33   0.00
4   1874        43       23   0.00
5   1875        43       30   0.00
6   1876        28       21   0.03
7   1877        50       42   0.34
8   1878        15        3   0.00
9   1879        15        2   0.34
10  1880        34       28   0.01

In [7]:
df.tail(10)

0    Year High Temp Min Temp Precip Snow White Christmas
140  2010        31       20   0.06  0.9
141  2011        45       29   0.00  0.0
142  2012        33       25   0.01  0.1
143  2013        27       18   0.07  1.2
144  2014        42       33   0.00  0.0
145  2015        44       32   0.00  0.0
146  2016        39       32   0.09  0.0
147  2017        21        2   0.01  0.1
148  2018        45       28   0.00  0.0
149  2019        57       37   0.00  0.0

In [8]:
#fill column white christmas
Christmas = []

for row in df['Snow']:
    if row != "" and row != 0:
        Christmas.append(bool(1))
    elif row == 0:
        Christmas.append(bool(0))
    else:
        Christmas.append("Not Defined")

df['White Christmas'] = Christmas

C:\Users\Lydia\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

In [9]:
df.head(20)

0   Year High Temp Min Temp Precip Snow White Christmas
1   1871         M        M   0.00          Not Defined
2   1872        20        4   0.00          Not Defined
3   1873        38       33   0.00          Not Defined
4   1874        43       23   0.00          Not Defined
5   1875        43       30   0.00          Not Defined
6   1876        28       21   0.03          Not Defined
7   1877        50       42   0.34          Not Defined
8   1878        15        3   0.00          Not Defined
9   1879        15        2   0.34          Not Defined
10  1880        34       28   0.01          Not Defined
11  1881        44       35   0.00          Not Defined
12  1882        40       33   0.22          Not Defined
13  1883        32       24   0.00          Not Defined
14  1884        18        8   0.11  1.4            True
15  1885        37       30   0.02          Not Defined
16  1886        35       18   0.17  1.9            True
17  1887        23       14      T          Not Defined
18  1888        39       35   0.02  0.0            True
19  1889        47       33   0.00  0.0            True
20  1890        28       20   0.00  0.0            True

In [10]:
#Replace values in columns
df['High Temp'] = df['High Temp'].replace("M","")
df['Min Temp'] = df['Min Temp'].replace("M","")
df['Precip'] = df['Precip'].replace("T","")

C:\Users\Lydia\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Lydia\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Lydia\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [11]:
#unique values snowfall
df['Snow'].unique()

array(['', '1.4', '1.9', '0.0', '0.3', '3.2', '5.0', '1.1', '0.4', '0.8',
       '0.1', '0.2', '4.3', '0.5', '3.9', '1.8', '0.6', '5.1', '4.0',
       '1.2', '1.5', '2.9', '1.3', '0.7', '2.0', '0.9'], dtype=object)

In [12]:
#unique values minimal temperature
df['Min Temp'].unique()

array(['', '4', '33', '23', '30', '21', '42', '3', '2', '28', '35', '24',
       '8', '18', '14', '20', '34', '-2', '15', '26', '6', '12', '29',
       '5', '-3', '25', '31', '27', '13', '32', '-1', '19', '10', '-6',
       '7', '46', '0', '16', '22', '1', '9', '-8', '36', '-17', '-11',
       '17', '-7', '11', '37'], dtype=object)

In [13]:
#unique values high temperature
df['High Temp'].unique()

array(['', '20', '38', '43', '28', '50', '15', '34', '44', '40', '32',
       '18', '37', '35', '23', '39', '47', '52', '10', '31', '56', '29',
       '16', '22', '45', '6', '27', '30', '49', '21', '26', '33', '36',
       '46', '25', '41', '55', '24', '17', '64', '-5', '19', '2', '42',
       '9', '57'], dtype=object)

In [14]:
#unique values precipitation
df['Precip'].unique()

array(['0.00', '0.03', '0.34', '0.01', '0.22', '0.11', '0.02', '0.17', '',
       '0.05', '0.16', '0.26', '0.50', '0.12', '0.04', '0.10', '0.28',
       '0.19', '0.07', '0.09', '0.35', '0.32', '0.38', '0.20', '0.47',
       '0.08', '0.46', '0.06'], dtype=object)

In [15]:
#Rename columns
df = df.rename(columns={'High Temp':'Fahrenheit High Temp'})
df = df.rename(columns={'Min Temp':'Fahrenheit Min Temp'})
df = df.rename(columns={'Precip':'Precipitation'})

In [16]:
df['Celsius Min Temp'] = ""
df['Celsius High Temp'] = ""

In [17]:
df['Fahrenheit Min Temp'] = df['Fahrenheit Min Temp'].replace("",500)
df['Fahrenheit Min Temp'] = df['Fahrenheit Min Temp'].astype(int)

In [18]:
#calculate minimum temperature in degree Celsius 
df['Celsius Min Temp'] = (df['Fahrenheit Min Temp']-32)*0.5556

In [19]:
df['Fahrenheit High Temp'] = df['Fahrenheit High Temp'].replace("",500)
df['Fahrenheit High Temp'] = df['Fahrenheit High Temp'].astype(int)

In [20]:
#calculate high temperature in degree Celsius

In [21]:
df['Celsius High Temp'] = (df['Fahrenheit High Temp']-32)*0.5556

In [22]:
#replace missing values again
df['Fahrenheit Min Temp'] = df['Fahrenheit Min Temp'].replace(500,"")
df['Fahrenheit High Temp'] = df['Fahrenheit High Temp'].replace(500,"")

In [23]:
#replace incorrect values
df['Celsius Min Temp'] = df['Celsius Min Temp'].replace(260.0208,"")
df['Celsius High Temp'] = df['Celsius High Temp'].replace(260.0208,"")

In [24]:
#Export to CSV file
df.to_csv('...../ChicagoWeatherChristmas.csv')